<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>

<body>
    <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
    <table style="width:100%; border-collapse: collapse;" border="1">
        <thead>
            <tr>
                <th>NOM</th>
                <th>COGNOM</th>
                <th>EDAT</th>
                <th>Email</th>
                <th>Curso</th>
                <th>Tutor</th>
                <th>Módulos Matriculados</th>
            </tr>
        </thead>
        <tbody>
            {% for }
            <tr>
                <td>{{ nom }}</td>
                <td>{{ cognom1 }}</td>
                <td>{{ cognom2 }}</td>
                <td>{{ correu }}</td>
                <td>{{ curs }}</td>
                <td>{{ tutor }}</td>
                <td>{{ moduls_impartits }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>